<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Sigmar&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <title>Leaderboard</title>
    <style>
        label {
            font-weight: bold;
        }

        .sticky {
            position: sticky;
            top: 0;
        }

        .data {
            height: 340px;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <img src="../../public/images/bg3.jpg" class="img-fluid w-100 h-100" alt="Responsive image"
        style="position: absolute;top: 0;bottom: 0;z-index: -1;">

    <div class="container mt-5" style="z-index: 1;">
        <div class="title d-flex justify-content-center align-items-center mt-5 text-white">
            <h2 style="font-family: 'Josefin Sans', sans-serif;">Leaderboard</h2>
        </div>

        <div class="sticky m-auto mt-5 mb-4 col-lg-6 col-10">
            <table class="table table-warning text-dark table-hover table-info table-borderless">
                <thead class="mb-5" style="font-family: 'Exo 2', sans-serif;">
                    <tr class="mt-5">
                        <th class="col-1">#</th>
                        <th class="col-3">Name</th>
                        <th class="col-2">Total Expenses (in &#8377;)</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="data col-lg-6 col-10" id="content">
            <!-- <table class="table table-hover table-info table-borderless">
                <tbody class="text-dark" style="font-family: 'DM Serif Display', serif;">
                </tbody>
            </table> -->
        </div>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <h5 id="scroll-text" class="text-white" hidden>Scroll down to see other expenses &darr;</h5>
        </div>
        <div class="position-absolute bottom-0 mb-5" style="left: 44%;">
            <button id="gobackbtn" class="btn btn-primary">
                Go Back
            </button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../public/js/leaderboard.js"></script>
</body>

</html>